
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
screenshoots
screenshots/
test-results/
playwright-report/
blob-report/
videos/
reports/
package-lock.json
results/

# Environment variables
.env
